<div class="container main">
  <h1 class="text-center title">Ficha de usuario:</h1>
  <div class="block">
    <div class="image">
      <img src=<%=@person.picture%> alt="Person image" />
    </div>
    <div class="content">
      <ul class="info">
        <li><b>Nombre completo:</b> <%=@person.name%> <%=@person.surname%></li>
        <li><b>Email:</b> <%=@person.email%></li>
        <li><b>DNI:</b> <%=@person.dni%> <%=@person.surname%></li>
      </ul>
    </div>
    <div class="buttonsGroup">
      <button type="button" class="btn btn-outline-warning"><%= link_to (fa_icon "pencil"), edit_person_path(@person)%></button>
      <button type="button" class="btn btn-outline-danger"><%= link_to (fa_icon "times"), [@person], method: :delete%></button>
      <button type="button" class="btn btn-outline-info"><%= link_to (fa_icon "paw"), controller: 'pet', action: 'index', dni: @person.dni %></button>
    </div>
  </div>
</div>
