<div class="container">
  <% if @pet.errors.any? %>
    <div>
      <% pluralize(@pet.errors.count, "error") %>
        <% @pet.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger" role="alert">
          <strong>Oh no!</strong> <%= msg %>
        </div>
        <% end %>
    </div>
  <% end %>

  <div class="form">
      <div class="form-group row">
        <%= f.label :name, "Nombre*: ", class: "col-2 col-form-label" %>
        <div class="col-10">
          <%= f.text_field :name, class: "form-control", type: 'text'%>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :age, "Edad*: ", class: "col-2 col-form-label" %>
        <div class="col-10">
          <%= f.text_field :age, class: "form-control", type: 'number', min: 0%>
        </div>
      </div>
      <% var_owner = params[:dni] %>
      <div class="form-group row">
        <%= f.label :owner, "Dueño*: ", class: "col-2 col-form-label" %>
        <div class="col-10">
          <%= f.text_field :owner, class: "form-control", type: 'text', value: var_owner, readonly: true%>
        </div>
      </div>
      <div class="form-group row">
        <label class= "col-2 col-form-label">¿Vive?*:</label>
        <div class="col-10">
          <div class="form-check form-check-inline">
            <%= label :alive, "Sí ", class: "col-2 col-form-label" %>
            <%= f.radio_button :alive, 'true', class: "form-control" %>
          </div>
          <div class="form-check form-check-inline">
            <%= label :alive, "No ", class: "col-2 col-form-label" %>
            <%= f.radio_button :alive, 'false', class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class= "col-2 col-form-label">Sexo*:</label>
        <div class="col-10">
          <div class="form-check form-check-inline">
            <%= label :sex, "Hembra ", class: "col-2 col-form-label" %>
            <%= f.radio_button :sex, 'female', class: "form-control"%>
          </div>
          <div class="form-check form-check-inline">
            <%= label :sex, "Macho ", class: "col-2 col-form-label" %>
            <%= f.radio_button :sex, 'male', class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :animal_type, "Tipo*: ", class: "col-2 col-form-label" %>
        <div class="col-10">
            <%= f.select :animal_type, options_for_select([["Selecciona uno", ""], "perro", "gato", "conejo", "tortuga"]),  {}, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :picture, "Imagen: ", class: "col-2 col-form-label" %>
        <div class="col-10">
        <%= f.file_field :picture, class: "form-control-file", accept: ".png, .jpeg, .jpg, .gif" %>
        <small id="fileHelp" class="form-text text-muted">Permited extensions: .png, .jpeg, .jpg, .gif</small>
        </div>
      </div>
      <small>Tags with * symbol are required.</small>
      <center>
      <%= f.submit 'Guardar', class: "btn btn-outline-success add" %>
      </center>
  </div>
</div>
