<div class="container">
  <h1 class="text-center">Mis mascotas</h1>
  <div class=" blocks">
    <% if @pets != nil %>
      <% @pets.each do |pet| %>
      <div class="card" style="width: 20rem;">
        <center>
          <div class="picture">
            <img class="card-img-top" src="<%=pet.picture%>" alt="Person image">
          </div>
        </center>
        <div class="card-block">
          <h4 class="card-title text-center"><%= link_to (pet.name), pet_path(pet) %></h4>
        </div>
        <div class="buttonsGroup">
          <button type="button" class="btn btn-outline-warning"><%= link_to (fa_icon "pencil"), edit_pet_path(pet, dni: params[:dni])%></button>
          <button type="button" class="btn btn-outline-danger"><%= link_to (fa_icon "times"), pet_path(pet, dni: params[:dni]), method: :delete%></button>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <center>
    <button type="button" class="btn btn-outline-primary add"><%= link_to 'Añadir mascota', new_pet_path(dni: params[:dni]) %></button>
  </center>
</div>
